.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: palegreen;
  min-height: 100vh;
  font-family:'Segoe UI'
  
  

}

